
/* Font importer */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
p{
    font-family: 'Lato', sans-serif;
}
a {
    font-family: 'Lato', sans-serif;
}
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 60px;
    }
  }
@media only screen and (min-width: 600px) {
    h2 {
        font-size: 50px;
    }
  }

/* Required for full background image */
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}


.hr-light {
  border-top: 1px solid #fff9;
  width: 150px;
}
.altura {
    top: 250px;
}

@media only screen and (max-width: 600px) {
    .altura {
        top: 100px;
    }
  }

/* Button style */
.color {
    background: #E45F56;
    border: 0;
    border-radius: 30px;
}
.btn-lg {
    font-size: 16px !important;
}
@media ( max-width: 600px) {
.spacemobile {
  margin-bottom: 25px !important;
}
}

.ancho {
    width: 60%;
}
/* Menu style */
.border-bottom {
  border-bottom: 1px solid #ededed2b !important;
}
.telefonoText {
  display: table-caption !important;
}

#nav{
  transition: 750ms ease;
}

@media screen and (max-width:600px){
  .bg-movil {
    background: #1C2432;
  }
}


/* Style footer */
.colorFooter {
  background: #1C2432;
}


/* Style collapse Sidebaar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Section 1 */
.lineaColor {
  background: #E45F56;
}

/* Tussen img style */
.tussen {
  height: 45%;
}

@media (max-width: 740px) {
  .tussen {
    height: 75vh;
  }
}


/* Style carrousel */
@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-4 {
  float: left;
  width: 25%;
  max-width: 100%; } 
}
  
  .carousel-multi-item-2 .card img {
  border-radius: 2px; 
}

/* Style map */
.map-container{
  overflow:hidden;
  padding-bottom:0;
  position:relative;
  height:100%;
  }
.map-container iframe{
  left:0;
  top:0;
  height:500px;
  width:100% !important;
  position:absolute;
  }